.navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--branco);
    padding: .5em 1em;
}

.navbar__menu--links {
    
}

.img__navbar {
    width: 8%;
}

body {
    background: red;
}