:root {
    --branco: #faffff;
    --azul-claro: #8bc3f7;
    --azul-escuro: #1a1b56;
    --azul-claro-fundo: #c9d8fd;
    --preto: #0000;
    --branco-cinza-gradient: linear-gradient(120deg, #f7f3f3df 20%, #2b292991 200%);
    --cinza: #ffffff3c;
}


