.btn-contato a {
    text-decoration:none;
    text-transform:uppercase;
    font-size:1em;
    color: var(--vermelho);
    cursor:pointer;
    padding:.25em 1em;
    border:currentColor 0.125em solid;

    text-shadow:0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

    box-shadow:inset 0 0 0.5em 0 var(--vermelho);

    position:relative;

    transition: .2s;
    
}

.btn-contato a::before{
    pointer-events:none;
    content:'';
    position:absolute;
    background:var(--vermelho);
    top:120%;
    left:0;
    width:100%;
    height:100%;
    transform:perspective(1em)rotateX(40deg) scale(1, 0.35);
    filter:blur(1em);
    opacity: 0.7;
}

.btn-contato a::after {
    content:'';
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    box-shadow:0 0 2em 0.5em var(--vermelho);
    opacity:0;
    background-color:var(--vermelho);
    z-index: -1;
    transition: opacity 0.5s linear;
}

.btn-contato a:hover,
.btn-contato:focus {
    color:var(--azul-forte);
    font-weight:bold;
    text-shadow:none;
}

.btn-contato a:hover::before ,
.btn-contato a:focus::before {
    opacity: 1;
}


.btn-contato a:hover::after,
.btn-contato a:hover::after {
    opacity:1;
}