
:root {
    --branco: #faffff;
    --vermelho:#e63946;
    --azul-medio:#00a8e8;
    --preto-menu:#000000;
    --roxo-forte-1:#08001b;
    --roxo-forte-2:#12003b;

    --font-Balsamiq-Sans: "Balsamiq Sans", cursive;
    --font-main: arial;




    --azul-esverdeado-forte:#07252d;
    --azul-forte:#1d3557;
    --neon-rosa:hsl(317 100% 54%);
    --neon-azul:#14fff1;
    --azul-claro:#a8dadc;
}

* {
    margin: 0;
    padding: 0;
    max-width:100%;
    box-sizing: border-box;
}

body{
    font-family:"Inter", sans-serif;
    letter-spacing:1px;
    background:var(--roxo-forte-1);
}

/* Inicio header */
.nav-bar {
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: .5s;
}

.container-menu {
    max-width: 100%;
    margin: auto;
}

.flex-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-home{
    color:var(--azul-medio);
}

/* Menu transparente */

.nav-bar.rolagem {
    background-color:var(--branco);
    padding: 1em 4%;
}

.nav-bar.rolagem li a,
.nav-bar.rolagem svg {
    color: var(--preto-menu);
}

/* Fim menu transparente*/

.nav-header ul{
    list-style-type: none;
}

.nav-header li {
    text-transform:uppercase;
    display: inline-block;
    margin: 0 40px;
}

.nav-header li a{
    text-decoration: none;
    color: var(--branco);
    position:relative;
}

.nav-header li a:before {
    content:'';
    width: 10px;
    height: 5px;
    background:var(--azul-medio);
    position:absolute;
    top: 100%;
    left:0;
    transition: .5s;
}

.nav-header li:hover a:before {
    width: 50%;
    transform:translateX(100%);
}

/* fim header */

/* inicio banner */
.banner {
    height: 90vh;
    background-image:url('../images/banner-background.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;

    display: flex;
    align-items:center;
    justify-content:center;

}

.banner h1{
    font-size:3rem;
    color:var(--branco);
    text-align:center;
}

#dynamic-neon-text{
    text-transform: uppercase;
    letter-spacing:0.01em;
    font-size: 3.5rem;
    color:var(--branco);

    text-shadow:
    0 0 20px var(--azul-medio),
    0 0 40px var(--azul-medio),
    0 0 80px var(--azul-medio),
    0 0 160px var(--azul-medio),
    0 0 400px var(--azul-medio);

}

#dynamic-neon-text{
    animation: animate 5s linear forwards;
}

#dynamic-neon-text:nth-child(even){
    animation-delay: 0.4s;
}

@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color:transparent;
        text-shadow:none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color:var(--branco);

        text-shadow:
        0 0 20px var(--azul-medio),
        0 0 40px var(--azul-medio),
        0 0 80px var(--azul-medio),
        0 0 160px var(--azul-medio),
        0 0 400px var(--azul-medio);
        }
}


/* fim banner */

.hidden {
    opacity: 0;
    /* filter: blur(15px); */
    transform: translateX(-100%);
    transition: all 2s;
}

.show,
.nav-bar {
    opacity: 1;
    /* filter: blur(0); */
    transform: translateX(0);
    transition: all 2s;
}

.box-sobre-mim,
.box-habilidades,
.box-contatos{
    height:100%;
    padding:2rem;
    background:var(--roxo-forte-1);

}

.title{
    text-transform:uppercase;
    color:white;
    font-size:2em;

}

.linha-horizontal{
    border:2px solid var(--azul-medio);
    width:50%;
    margin:0 auto ;
}
.sobre-mim,
.projetos,
.habilidades,
.certificacoes,
.contato{
    font-family:var(--font-main);
    color:white;
    text-align:center;
    padding:1rem 0 1rem 0;
}


.container-sobre-mim{
    display:block;
    font-family:var(--font-main);
}

img{
    width:30%;
    padding:1rem;
}

.txt-sobre-mim,
.habilidade-txt
{
    width:80%;
    font-weight:200;
    letter-spacing:0.05rem;
    font-size:1rem;
    text-align:initial;
    margin: auto ;
    padding:auto;
}

.txt-sobre-mim:nth-child(1){transition-delay:300ms;}
.txt-sobre-mim:nth-child(2){transition-delay:500ms;}
.txt-sobre-mim:nth-child(3){transition-delay:700ms;}
.txt-sobre-mim:nth-child(4){transition-delay:900ms;}


.box-projetos,
.box-certificicoes{
    padding:2rem;
    min-height:80vh;
    background:var(--roxo-forte-2);
}

.flex-habilidades{
    display: flex;
    text-align:center;
    margin:2rem;
    width: 100%;
}

.habidade-linguagem{
    color:var(--neon-azul);
    font-size: 1.5rem;
    margin: 2rem 0 1rem 0;
}

.habilidade-txt{
    margin:auto 0 auto auto;
}

.habilidades-html-css-js{
    width:70%;
}


#img-html,
#img-js,
#img-css{
    width: 45%;
    padding:0;
}

/* Swiper cards */

.box-certificicoes{
    height:70vh;  
    
}

.swiper-container {
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    width:80%;
    /* height:100vh; */
}

.card-container {
    padding-block:5rem;
}

.card--content{

    margin-inline: 1.75rem;
    /* border-radius: 1.25rem; */
    overflow:hidden;
}

.card {
    
    border: 3px solid var(--neon-azul);
    border-radius:5%;
    width: 200px;
    height: 240px;
    padding:1rem;
    margin-top:3rem;
    overflow:hidden;
}
.title-certificacao{
    color:var(--azul-medio);
    font-weight:400;
    position: relative;
    padding-bottom:.5rem;
}

.certificacao-txt{
    font-size:1rem;
    margin-bottom:.5rem;
}

.link-certificado{
    text-decoration:none;
    color:var(--vermelho);
}

/* Swiper class */
.swiper-pagination-bullet{
    background-color:hsl(212, 32%, 40%);
    opacity:1;
}

.socialMedia{
    display:flex;
    justify-content: center;
    margin: 2rem auto;
}

.sci{
    display:flex;
}

.sci li{
    list-style: none;
}

.sci li a{
    display:inline-block;
    width:120px;
    height:120px;
    background:var(--azul-forte);
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--neon-azul);
    border-radius:10px;
    text-decoration:none;
    margin: 20px;
    font-size: 4rem;
    transform-style:preserve-3d;
    perspective:500px;
}

.js-tilt-glare{
    border-radius:10px;
}

.sci li a .fa{
    transition:0.3s;
}

.sci li a:hover .fa{
    transform: scale(1.75) translateZ(50px);
}

/* For small devices */
@media screen and (max-width: 320px){
    
}

/* For medium devices */
@media screen and (min-width:768px){
    .swiper-button-next,
    .swiper-button-prev{
        display:block;
    }
}