
:root {
    --branco: #faffff;
    --vermelho:#e63946;
    --azul-medio:#00a8e8;
    --preto-menu:#000000;
    --roxo-forte-1:#08001b;
    --roxo-forte-2:#12003b;
    
    --font-Balsamiq-Sans: "Balsamiq Sans", cursive;
    --font-main: arial;

    
    
    
    --azul-esverdeado-forte:#07252d;
    --azul-forte:#1d3557;
    --neon-rosa:hsl(317 100% 54%);
    --neon-azul:#14fff1;
    --azul-claro:#a8dadc;
}

* {
    margin: 0;
    padding: 0;
    max-width:100%;
    box-sizing: border-box;
}

body{
    font-family:"Inter", sans-serif;
    letter-spacing:1px;
    background:var(--roxo-forte-1);
}

/* Inicio header */
header {
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}

.container-menu {
    max-width: 100%;
    margin: auto;
}

.flex-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Menu transparente */
header.rolagem {
    background-color:var(--branco);
    padding: 1em 4%;
}

header.rolagem li a,
header.rolagem svg {
    color: var(--preto-menu);
}

/* Fim menu transparente*/

.flex-header svg {
    font-size: 8rem;
    color: var(--branco);
}

.nav-header ul{
    list-style-type: none;
}

.nav-header li {
    text-transform:uppercase;
    display: inline-block;
    margin: 0 40px;
}

.nav-header li a{
    text-decoration: none;
    color: var(--branco);
    position:relative;
}

.nav-header li a:before {
    content:'';
    width: 10px;
    height: 5px;
    background:var(--azul-medio);
    position:absolute;
    top: 100%;
    left:0;
    transition: .5s;
}

.nav-header li:hover a:before {
    width: 50%;
    transform:translateX(100%);
}

/* fim header */

/* inicio banner */
.banner {
    height: 90vh;
    background-image:url('../images/banner-background.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;

    display: flex;
    align-items:center;
    justify-content:center;

}

.banner h1{
    font-size:3rem;
    color:var(--branco);
    text-align:center;
}

#dynamic-neon-text{
    text-transform: uppercase;
    letter-spacing:0.01em;
    font-size: 3rem;
    color:var(--branco);

    text-shadow:
    0 0 20px var(--azul-medio),
    0 0 40px var(--azul-medio),
    0 0 80px var(--azul-medio),
    0 0 160px var(--azul-medio),
    0 0 400px var(--azul-medio);

}

#dynamic-neon-text{
    animation: animate 5s linear forwards;
}

#dynamic-neon-text:nth-child(even){
    animation-delay: 0.4s;
}

@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color:transparent;
        text-shadow:none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color:var(--branco);

        text-shadow:
        0 0 20px var(--azul-medio),
        0 0 40px var(--azul-medio),
        0 0 80px var(--azul-medio),
        0 0 160px var(--azul-medio),
        0 0 400px var(--azul-medio);
        }
}


/* fim banner */

.hidden {
    opacity: 0;
    /* filter: blur(15px); */
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    /* filter: blur(0); */
    transform: translateX(0);
    transition: all 2s;
}

.box-sobre-mim,
.box-habilidades{
    height:100%;
    padding:2rem;
    
}

.box-sobre-mim{
    background:var(--roxo-forte-1);
}

.title{
    text-transform:uppercase;
    color:white;
}

.linha-horizontal{
    border:2px solid var(--azul-medio);
    width:50%;
    margin:0 auto ;
}
.sobre-mim,
.habilidades{
    font-family:var(--font-main);
    font-size:1em;
    color:white;
    text-align:center;
}


.container-sobre-mim{
    display:block;
    font-family:var(--font-main);
    margin:1rem;
}

img{
    width:30%;
    padding:1rem;
}

.txt-sobre-mim{
    width:80%;
    font-weight:200;
    letter-spacing:0.05rem;
    font-size:1rem;
    text-align:initial;
    margin: 1rem ;
    padding:auto;
}

.txt-sobre-mim:nth-child(1){transition-delay:400ms;}
.txt-sobre-mim:nth-child(2){transition-delay:700ms;}
.txt-sobre-mim:nth-child(3){transition-delay:1000ms;}
.txt-sobre-mim:nth-child(4){transition-delay:1300ms;}


.box-habilidades{
    padding:2rem;
    min-height:80vh;
    background:var(--roxo-forte-2);

}