
:root {
    --branco: #faffff;
    --vermelho:#e63946;
    --azul-medio:#00a8e8;
    --neon-azul:#14fff1;
    --preto-menu:#000000;
    --roxo-forte-1:#08001b;
    --roxo-forte-2:#12003b;

    --font-main: arial;

    --azul-forte:#1d3557;
}

* {
    margin: 0;
    padding: 0;
    max-width:100%;
    box-sizing: border-box;
}

body{
    font-family:"Inter", sans-serif;
    letter-spacing:1px;
    background:var(--roxo-forte-1);
    height:250vh;

}

/* Inicio header */
#header{
    box-sizing: border-box;
    height:70px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background: #e7e7e7;
}

#menu{
    display:flex;
    list-style:none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}

.flex-header .fa-home{
    font-size: 2rem;
    color:var(--azul-medio);
}

/* Menu transparente */

.nav-bar.rolagem {
    background-color:var(--branco);
    padding: 1em 4%;

}

.nav-bar.rolagem li a,
.nav-bar.rolagem svg {
    color: var(--preto-menu);
}

/* Fim menu transparente*/

.nav-header ul{
    list-style-type: none;
}

.nav-header li {
    text-transform:uppercase;
    display: inline-block;
    margin: 0 2rem;
}

.nav-header li a{
    text-decoration: none;
    color: var(--branco);
}

.nav-header li a:before {
    content:'';
    width: 10px;
    height: 5px;
    background:var(--azul-medio);
    position:absolute;
    top: 100%;
    left:0;
    transition: .5s;
}

.nav-header li:hover a:before {
    width:50%;
    transform:translateX(100%);
}












/* fim header */

/* inicio banner */
.banner {
    height: 90vh;
    background-image:url('../images/banner-background.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;

    display: flex;
    align-items:center;
    justify-content:center;

}

.banner h1{
    font-size:3rem;
    color:var(--branco);
    text-align:center;
}


/* fim banner */

.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 2s;
}

.show,
.nav-bar {
    opacity: 1;
    transform: translateX(0);
    transition: all 2s;
}




/* For small devices 
@media (max-width: 600px){
    

    #menu {
        display:block;
        position:absolute;
        width:100%;
        top:70px;
        right:0px;
        background: #e7e7e7 ;
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility:hidden;
        overflow-y:hidden;
    }
    
    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05)
    }

    #btn-mobile{
        display:flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburger{
        display:block;
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger::after,
    #hamburger::before { 
        content: '';
        display:block;
        width: 20px;
        height:2px;
        background: currentColor;
        margin-top:5px;
        transition: .3s;
        position:relative;
    }

    #nav.active #hamburger{
        border-top-color:transparent;
    }

    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top:-7px;
    }

}

*/
/* For medium devices */
@media screen and (min-width:768px){
    .swiper-button-next,
    .swiper-button-prev{
        display:block;
    }
}